<p>
  {{homeTitle}}
</p>

<!-- Data binding One direcction - Property binding -->
<p>Data binding One direcction - Property binding </p>
<input value="Static value" /> <!-- static value -->

<p>Dinamic value binding from the property</p>
<input [value]="dinamicValue" /> <!-- dinamic value binding from the property  -->
<input [required]="myBoolean" /> <!-- passing boolean values -->

<p>Data binding One direcction - String binding</p>
<!-- Data binding One direcction - String binding -->
<input value="{{stringValue}}" /> <!-- dinamic value binding from the property  -->
<input required="{{stringBoolean}}" /> <!-- passing boolean values -->

<p>Data binding One direcction - Event binding view to the model</p>
<!-- Data binding One direcction - Event binding view to the model-->
<button (click)="alertMe('I love my brothers')">Click me</button>

<p>Two way data biding Two directions</p>
<!-- Two way data biding Two directions -->
<input [(ngModel)]="ninja.name" /><!-- Import FormsModule on the module.ts ngModel live there -->
<p>{{ninja.name}}</p> <!-- The users can update this values -->
<p>{{ninja.belt}}</p>

